<!DOCTYPE html>
<html>

<head>
    <title>Crypto Detail</title>
    <link rel='stylesheet' href='/css/account.css'>
    <link rel='stylesheet' href='/css/global.css'>

</head>

<body>
    <button id="Home">Home</button>
    <button id="Portfolio" type="button">Portfolio</button>
    <button id="YourAccount" type="button">Your Account</button>
    <button id="Logout" type="button">Logout</button>

    <label for="email">Username:</label>
    <span id="email"><% username %></span>

    <label for="firstName">First Name:</label>
    <span id="firstName"><% firstname %></span>

    <label for="lastName">Last Name:</label>
    <span id="lastName"><% lastname %></span>

    <label for="dob">Date of Birth:</label>
    <span id="dob"><% DOB %></span>

    
</body>
<script src="/js/global.js"></script>
<script src="/js/account.js"></script>

</html>